@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
  
  font-family: 'Open Sans', sans-serif;
}

.projects-container{
  margin-top: 5%;    
}

.search-container{
    position: absolute;
    top: 95%;
    left: 20%;
}


.table-container{
  background-color: red;
}

.buttons-container{
  width: 20%;
  margin-bottom: 5%;
}

.loading-screen{
  margin-top: 20%;
}

button{
  white-space: nowrap;
}

.form-check-input{
  position: relative !important;
}